<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcome to the CSC326 CoffeeMaker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
body {background-color: rgb(250, 201, 184)}
.formcontainer {
	background-color: #b9b5c7;
	padding: 20px;
	width: 500px;
	
}
h1{color: white;}
h2{color: white;}
.button{
background-color: white;
 border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
   margin: auto;
  cursor: pointer;
}

</style>

</head>
<body>
	<h1 >Coffee Maker</h1>
		<div class="formcontainer">
	<h2>Available Options</h2>
	
	
	<button class="button" ><a href="inventory.html">Update Inventory</a></button>
	<br></br>
	<button class="button"><a href="recipe.html">Add a Recipe</a></button>
	<br></br>
	<button class="button"><a href="customrecipe.html">Add a Custom Recipe</a></button>
	<br></br>
	<button class="button"><a href="editrecipe.html">Edit Recipe</a></button>
	<br></br>
	<button class="button"><a href="deleterecipe.html">Delete Recipe</a></button>
	<br></br>
	<button class="button"><a href="makecoffee.html">Make Coffee</a></button>
	<br></br>
	<button class="button"><a href="ingredient.html">Add an Ingredient</a></button>
	<br></br>
	<button class="button"><a href="milestone5.html">Frontend Workshop Test</a></button>
	</div>
</body>
</html>
